@model SPFWebsitMVC.Models.Conversation

@{
    ViewData["Title"] = "Conversation - Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete Conversation</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatePosted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatePosted)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ConversationId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to Conversation Home</a>
    </form>
</div>
