@model SPFWebsitMVC.Models.Client

@{
    ViewData["Title"] = "Client - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" id="clientDetailsRow1">
    <div class="container">
        <center>
            <h1>@Model.FirstName @Model.LastName</h1>
            <h6>@Model.Email |  @Model.PhoneNumber</h6>
        </center>
    </div>
</div>
<div class="row" id="clientDetailsRow2">
    <div class="container">
        <h4>Goal</h4>
        <h6>@Model.Goal</h6>
    </div>
</div><br /><br />
<div class="row" id="clientDetailsRow3">
    <div class="col-4">
        <div class="container" style="margin:5px" ;>
            <h6>Favorite Video 1</h6>
            <input type="hidden" value=@Model.FavoriteVideo1 id="favVid1" />
            <div class="FavoriteVideo1"></div>
            <pre></pre>
        </div>
    </div>
    <div class="col-4">
        <div class="container" style="margin:5px" ;>
            <h6>Favorite Video 2</h6>
            <input type="hidden" value=@Model.FavoriteVideo2 id="favVid2" />
            <div class="FavoriteVideo2"></div>
            <pre></pre>
        </div>
    </div>
    <div class="col-4">
        <div class="container" style="margin:5px" ;>
            <h6>Favorite Video 3</h6>
            <input type="hidden" value=@Model.FavoriteVideo3 id="favVid3" />
            <div class="FavoriteVideo3"></div>
            <pre></pre>
        </div>
    </div>
</div>

<div>
    <a asp-controller="Clients" asp-action="Index">Back to Client Home</a>
</div>
