@model IEnumerable<SPFWebsitMVC.Models.Client>

@{
    ViewData["Title"] = "Client - Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Client Home</h1>

<center>
<div id="BroadcastMessages">
    <pre></pre>
</div>
</center>
<p>
    <a asp-controller="Clients" asp-action="Schedule">Schedule Session</a> |
    <a asp-controller="Clients" asp-action="FAQLogin">FAQs</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BalanceOwed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Goal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FavoriteVideo1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FavoriteVideo2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FavoriteVideo3)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BalanceOwed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Goal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FavoriteVideo1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FavoriteVideo2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FavoriteVideo3)
            </td>
        <td>
            <a asp-controller="AdminClients" asp-action="Edit" asp-route-id="@item.ClientId">Edit</a> |
            <a asp-controller="AdminClients" asp-action="Details" asp-route-id="@item.ClientId">Details</a> |
            <a asp-controller="AdminClients" asp-action="Delete" asp-route-id="@item.ClientId">Delete</a>  |
            <a asp-controller="DayWeights" asp-action="Details" asp-route-id="@item.ClientId">Chart Progress</a> |
            <a asp-controller="AdminClients" asp-action="MakeAdmin" asp-route-id="@item.ClientId">>Admin</a> |
            <a asp-controller="AdminClients" asp-action="MakeTrainer" asp-route-id="@item.ClientId">>Trainer</a>
        </td>
        </tr>
}
    </tbody>
</table>
