@model IEnumerable<SPFWebsitMVC.Models.Trainer>

@{
    ViewData["Title"] = "Trainer - Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Trainer Home</h1>

<center>
    <div id="BroadcastMessages">
        <pre></pre>
    </div>
</center>

<a asp-controller="TrainerClients" asp-action="Index">Clients</a> |
<a asp-controller="Videos" asp-action="Index">Videos</a>  |
<a asp-controller="Clients" asp-action="Schedule">Schedule Session</a> |
<a asp-controller="Conversations" asp-action="Index">Answers?</a> |
<a asp-controller="FAQs" asp-action="Index">FAQs</a>
<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.IdentityUserId)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.IdentityUserId)
                    </td>*@
                <td>
                    <a asp-controller="Trainers" asp-action="Edit" asp-route-id="@item.TrainerId">Edit</a> |
                    <a asp-controller="Trainers" asp-action="Details" asp-route-id="@item.TrainerId">Details</a> |
                    <a asp-controller="Trainers" asp-action="Delete" asp-route-id="@item.TrainerId">Delete</a>
                    @*<a asp-controller="Trainers" asp-action="MakeAdmin" asp-route-id="@item.TrainerId">(Admin)</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
