@model IEnumerable<SPFWebsitMVC.Models.BroadcastMessage>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePosted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PosterName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePosted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PosterName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BroadcastMessageId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BroadcastMessageId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BroadcastMessageId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
