@model SPFWebsitMVC.Models.Video

@{
    ViewData["Title"] = "Videos - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Video Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Topic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Link)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatePosted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatePosted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentUse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentUse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalUse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalUse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Post)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Post)
        </dd>
    </dl>
</div>
<div>
    <h3>Watch Video</h3>
    <video width="400px" controls>
        <source src="@Model.Link" type="video/mp4" />
    </video>
</div>
<div><br />
    <a asp-action="Edit" asp-route-id="@Model.VideoId">Edit</a> |
    <a asp-action="Index">Back to Videos Home</a>
</div>
